.grid_users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 25px;
  margin: 50px auto;
}

.notFound {
  font-size: 1.1rem;
}