* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --black-normal: #232224;
  --black-dark: #161617;
  --black-light: #353436;

  --white-normal: #ffffff;
  --white-dark: #ddd;
  --white-light: #f1f1f1;

  --red-normal: #da4140;
  --red-dark: #b42b2b;
  --red-light: #d34040;
}

html,
body {
  background-color: var(--white-normal);
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 8px;
  min-height: calc(100vh - 190px);
}