.action {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  form {
    display: flex;
    gap: 10px;
    width: 100%;
  }

  input {
    font-size: 1rem;
    width: 100%;
    background-color: var(--white-light);
    padding: 15px;
    border-radius: 0.5rem;
    border: 1px solid var(--white-dark);
  }

  button {
    padding: 10px;
    background-color: var(--black-normal);
    border: 0;
    border-radius: 0.5rem;
    width: auto;
    transition: transform 0.2s;

    svg {
      display: flex;
    }

    &:hover {
      transform: scale(1.15);
    }
  }
}